[submodule "testcases/kernel/mce-test"]
	path = testcases/kernel/mce-test
	url = git://git.kernel.org/pub/scm/linux/kernel/git/gong.chen/mce-test.git
[submodule "tools/sparse/sparse-src"]
	path = tools/sparse/sparse-src
	url = git://git.kernel.org/pub/scm/devel/sparse/sparse.git
[submodule "tools/ltx/ltx-src"]
	path = tools/ltx/ltx-src
	url = https://github.com/linux-test-project/ltx.git
[submodule "tools/kirk/kirk-src"]
	path = tools/kirk/kirk-src
	url = https://github.com/linux-test-project/kirk.git
[submodule "testcases/kernel/mce/mcelog"]
	path = testcases/kernel/mce/mcelog
	url = https://git.kernel.org/pub/scm/utils/cpu/mce/mcelog.git
[submodule "testcases/kernel/mce/mce-inject"]
	path = testcases/kernel/mce/mce-inject
	url = https://git.kernel.org/pub/scm/utils/cpu/mce/mce-inject.git
